

<h3> welcome <%=current_user.name %></h3>

<h1>Lessons</h1>

<%  results=Developer.find(:all, :conditions => { :userID=>current_user.id})  %>

<% results.each do |admin| %>

  <% admin.lessons.each do |lesson| %>
          <h3><%=lesson.lessonName %></h3><span> contents</span>->

           <% lesson.lesson_pages.each do |lessonpage| %>

                <% if  lessonpage.content_info_id %>
                      <%=link_to "#{lessonpage.content_info.name}",{:action=>"show",:controller=>"content_infos",:id=>"#{lessonpage.content_info_id}"} %>
                <% elsif lessonpage.questionnaire_id %>
                      <%= link_to "#{lessonpage.questionnaire.questionnaireName}",{:action=>"show",:controller=>"questionnaires",:id=>"#{lessonpage.questionnaire_id}"} %>
                 <% end %>
           <% end %>
               <br />
  <% end %>
<% end %>
<%= link_to "Create New Lesson",{:action=>"new",:controller=>"lessons"}%>