<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @student_detail.name %>
</p>

<p>
  <b>Classname:</b>
  <%= @student_detail.classname %>
</p>

<p>
  <b>Standard:</b>
  <%= @student_detail.standard %>
</p>


<%= link_to 'Edit', edit_student_detail_path(@student_detail) %> |
<%= link_to 'Back', student_details_path %>
