<p id="notice"><%= notice %></p>

<p>
  <b>Lessonid:</b>
  <%= @lesson_page.lessonID %>
</p>

<p>
  <b>Orderno:</b>
  <%= @lesson_page.orderNo %>
</p>

<p>
  <b>Datasource:</b>
  <%= @lesson_page.datasource %>
</p>

<p>
  <b>Datatype:</b>
  <%= @lesson_page.datatype %>
</p>


<%= link_to 'Edit', edit_lesson_page_path(@lesson_page) %> |
<%= link_to 'Back', lesson_pages_path %>
