
<div class="span-25 last" id="questionnaireHead">
    Questionnaire  &nbsp;&nbsp;  <%= @questionnaire.questionnaireName %>
    <br />
<br />
</div>

<table>
  <thead>
    <tr>
      <td>
        <h3> Question</h3>
      </td>
      <td>
        <h3>Image</h3>
      </td>
      <td>
        <h3>Choices</h3>
      </td>
      <td>
        <h3>Answer</h3>
      </td>
    </tr>
  </thead>
  <tbody>
    <%k=0%>
    <%@questionnaire.quests.each do |question| %>
    <tr>
      <td>
      <%=  k=k+1 %> &nbsp;<%=question.question %>
      </td>
      <td>
        <%=question.image %>
      </td>
      <td>
        <%j=0%>
        <% question.choices.each do |choice| %>
           <%=j=j+1 %>
           <%=choice.ChoiceAnswers%>
       <% end %>
      </td>
      <td>
        <%=question.answer %>
      </td>
    </tr>
    <% end %>
  </tbody>

</table>
<div class="span-25 last">
  <%#= link_to 'Edit', edit_questionnaire_path(@questionnaire) %> <br />
  <%#= link_to 'Back to add new questionnaire', :action=>"new" %> <br />
  <%#= link_to 'Back to Lesson Details page', {:action=>"index",:controller=>"developers"} %>
  <%= link_button_to "Lesson Details page", url_for(:action=>"index", :controller=>"developers")%>
</div>
