<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @content_info.name %>
</p>

<p>
  <b>Path:</b>
  <%= @content_info.path %>
</p>


<%= link_to 'Edit', edit_content_info_path(@content_info) %> <br />
<%=link_to "Back to add new Content",{:action=>"new", :controller=>"content_infos"} %> <br />
<%= link_to 'Back to Lesson Details page', {:action=>"index",:controller=>"developers"} %>
