<h1>Listing admin_people</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Lessonid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<%=link_to "Lesson Page",{:action=>"index", :controller=>"lesson_pages"} %>
<% @admin_people.each do |admin_person| %>
  <tr>
    <td><%= admin_person.name %></td>
    <td><%= admin_person.lessonID %></td>
    <td><%= link_to 'Show', admin_person %></td>
    <td><%= link_to 'Edit', edit_admin_person_path(admin_person) %></td>
    <td><%= link_to 'Destroy', admin_person, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Admin person', new_admin_person_path %>
